.navbar {
	display:flex;
	justify-content: flex-end; 
	position: absolute;
    background-color: #fea106;
    top: 0;
    width: 100%;
    z-index: 1000;
	float: right;
	
}

.navbar a,
.navbar .dropbtn {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover,
.navbar .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.navbar .dropdown {
    float: right;
}

.navbar .dropdown .dropbtn {
    cursor: pointer;
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar .dropdown-content {
	top: 100%;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar .dropdown-content a {
	top: 100%;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content {
    min-width: 160px;
    width: 100%;
}

.navbar .dropdown-content a:hover {
    background-color: #ddd;
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

.content {
    padding-top: 60px
}