<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/search bar.css">
	<link rel="stylesheet" href="../css/nav bar.css">
    <link rel="icon" href="media/search/round_search_white_24dp.png" type="image/icon type">
    <title>Search</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
  </head>
  
  <body class="background">
	<%- include ('navbar.ejs') %>
  <div style="padding: 200px 0px 30px 0px;;">
	UPDATE IN PROGRESS
  </div>
<div>

	<div onclick="hideallfunction()" id="hideall"></div>

	
	 
	 
</div>

    <script src="../scripts/searchbar.js" defer></script>

  </body>
</html>
