<body>
  <div class="navbar">
        <div style>
			
            <div class="dropdown">
                <button onclick="location.href='/views/sign in.ejs'" class="dropbtn" style="color: rgb(31, 43, 73);">Sign In
                    <i class="fa fa-caret-down"></i>
                </button>
                
            </div>
			
			<div class="dropdown">
                <button onclick="location.href='/views/login.ejs'" class="dropbtn" style="color: rgb(31, 43, 73);">Login
                    <i class="fa fa-caret-down"></i>
                </button>
            </div>
			<div class="dropdown">
			<div class="dropdown">
                <button onclick="location.href='/views/main.ejs'" class="dropbtn" style="color: rgb(31, 43, 73);">WeWant
                    <i class="fa fa-caret-down"></i>
                </button>
					

            </div>
		</div>	
			
        </div>
      
    </div>
</body>